:root {
    --azul: rgb(0,128,255);
    --branco: rgb(255,255,255);
    --preto: rgb(0,0,0);
}

body {
    background-color: var(--preto);
}

.principal {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    overflow:hidden
}

.principal__foto {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 2vh;
    object-fit: cover;
    margin-top: 20vh;
    border: 3px solid white;
}

.principal__paragrafo {
    display: flex;
    color: aliceblue;
    padding-top: 20px;
}

.principal__lista {
    padding-left: 30px;
    padding-bottom: 20vh;
    padding-right: 30px;
}

.principal__lista li {
    text-align: center;
    padding: 10px;
    margin: 14px;
}

.principal__lista__links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--branco);
    text-decoration: none;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
  }

.principal__lista__links:hover {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.princioal__lista__links:active {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}